@model List<Gear>
@{
    ViewBag.Title = "Kayaking Gear";
}

<h2>Buy, Sell, Trade Kayaking Gear</h2>
<a asp-controller="Gear" asp-action="Add">Add New item</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Contact</th>
            <th>Phone</th>
            <th>Description</th>
            <th>Condition</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model) {
        <tr>
            <td>@route.Contact</td>
            <td>@route.Phone</td>
            <td>@route.Description</td>
            <td>@route.Condition</td>
            <td>@route.Price</td>
            <td>
                
            </td>
        </tr>
        }
    </tbody>
</table>
