@model List<Route>
@{
    ViewBag.Title = "Kayak Routes";
}

<h2>Kayak Routes</h2>
<a asp-controller="Route" asp-action="Add">Add New Route</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start Point</th>
            <th>Stop Point</th>
            <th>Water Type</th>
            <th>Miles</th>
            <th>Date</th>
            <th>Route Level</th>
            <th>Rating (1-5) 5 is best</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model) {
        <tr>
            <td>@route.Name</td>
            <td>@route.Location</td>
            <td>@route.StartPoint</td>
            <td>@route.StopPoint</td>
            <td>@route.Type</td>
            <td>@route.Miles</td>
            <td>@route.Date</td>
            <td>@route.Level</td>
            <td>@route.Rating</td>
            <td>
            </td>
        </tr>
        }
    </tbody>
</table>